.contenedor {
    display: flex;
    background-image: url("/landscape.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    padding: 5%;
    padding-bottom: 0;
  }

  h1 {
    font-size: 2em;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 5rem;
    padding: 1rem; 
    font-weight: 700;
    color: white;
  }
  
  @media (max-width:960px){
    .text {
      width: 60%;
      margin-right: 0rem;
      color: white;
    }
    .card-img-top{
      width: 300px;
      height: 150px;
    }
  }
  
  @media (max-width:542px){
  #contenedor {
    margin: 0rem;
  }
  .text {
  width: 90%;
  margin-bottom: 0rem;
  margin-top: 4rem;
  }
  }
  