.containerCard{
    padding: 3% 5% 3% 5%;
}

@media (max-width:575px){
    .containerCard{
        padding: 2% 5rem 2% 5rem;
    }
  }

  @media (max-width:445px){
    .containerCard{
        padding: 1.5rem;
    }
  }