.cardDet {
    border: solid rgb(7, 7, 54);
    box-shadow: rgb(7, 7, 54) 8px 8px 5px;
    border-radius: 0px;
}

.titleDet{
    color: black;
    padding-left: 5px;
    width: 20rem;
    background-color: rgba(181, 228, 241, 0.628);
}

.cardDet img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}


.cardDet:hover {
    transform: none;
    border: solid rgb(7, 7, 54);
}

.cardDet a {
    max-width: 10rem;
    border: 0;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.cardDet a:hover {
    border: none;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.card-body{
    padding: 1rem;
    text-align: center;
    color: white;
    background-color: rgb(7, 7, 54);
}

.noitineraries img {
    width: 40%;
}

.noitineraries {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    text-align: center;
}

@media (max-width:564px) {
    .card-body{
        font-size: small;
    }
    .cardDet img {
        height: 20rem;
    }
    .titleDet{
        width: 100%;
    }
}


@media (max-width:290px) {
    .cardDet p {
        width: 100%;
    }
}