 #login {
   background-color: rgb(225, 25, 6);
   color: white;
   max-width: 8rem;
   padding: 0.6em 1.2em;
   font-size: 1em;
   font-weight: 500;
   font-family: inherit;
 }

 #login:hover {
  padding: 0.5em 1.2em;
}

 .bg-body-tertiary {
   padding-left: 2rem;
   padding-right: 2rem;
 }

 @media (max-width:762px){
  .offcanvas{
    max-width: 200px;
  }
}

