.carousel{
    padding: 1rem;
    padding-top: 2rem;
    text-align: center;
  }

  .carousel-inner{
    padding: 1rem 7rem 1rem 7rem;
  }
  
  .carousel-control-prev-icon{
    background-color: black;
    border-radius: 20px;
    margin-top: 4rem;
  }
  
  .carousel-control-next-icon{
    background-color: black;
    border-radius: 20px;
    margin-top: 4rem;
  }

  @media (max-width:850px){
    .card-title h3{
      font-size: large;
    }
  }

  @media (max-width:830px){
    .carousel-inner{
      padding: 1rem 4rem 1rem 4rem;
    }
  }

  @media (max-width:400px){
    .carousel-inner{
      padding: 1rem 2rem 1rem 2rem;
    }
  }


  
  