footer {
  display: flex;
  min-height: 8vh;
  background-color: rgb(181, 228, 241);
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
}

.nav-link{
  display: inline-flex;
  padding: 10px 10px 10px 10px;
  text-align: center;
  justify-content: space-evenly;
}

.icon{
  color: black;
}