footer{
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 8vh; 
    background-color: rgb(225, 25, 6);
    padding-top: 1rem;
    margin-top: 3rem;
  }
  
  footer p{
    text-align: center;
    width: 100%;
  }

