.card-img-top {
  width: 450px;
  height: 200px;
  object-fit: cover;
  justify-content: center;
}

.home:hover {
  transform: scale(1.05);
  border: none;
}

.card-title {
  background-color: rgb(181, 228, 241);
  width: 100%;
}

.card{
  border: none;
}


