.card{
    display: flex;
    padding-top: 1rem;
    padding-left: 4rem;
    width: 90%;
    align-items: center;
    border: none;
  }
  
  .card-img-top{
    width: 450px;
    height: 200px;
    object-fit: cover;
    justify-content: center;
  }
  
  .card:hover{
    transform: scale(1.05);
    border: none;
  }

  .card-title{
    background-color: #537de0e0;
    width: 100%;
  }

  @media (max-width:990px){
    .card{
      padding-left: 0rem;
    }
  }